header, nav, footer
{
    text-align: center;
	background-color:black;
	color: gray;
}

body
{
	background-color: grey;
}

header
{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
}

main, #content, #last
{
	padding-top: 16em;
	padding-bottom: 3em;
	text-align: center;
}

hr
{
	width: 81%;
}

footer
{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	
    font-size: 0.666em;
    color: white;
}

nav a
{
	padding: 12px;
	font-size: 1.2em;
	font-weight: bold;
    text-decoration: none;
	color: #7f7fff;
}

nav a:hover
{
	color: #327972;
	transition: 0.42s;
	font-weight: bold;
}

a
{
	color: #0042ff;
}

ul
{
	font-style: normal;
	font-weight: normal;
}

em
{
	text-align: center;
}

table
{
    margin: 0px auto;
    text-align: center;
	overflow: auto;
}

td
{
    padding-right: 12px;
}

#hr-header
{
	width:50%;
}

#content
{
	padding-top: 10em;
}

#last
{
	padding-top: 9em;
}

#current_nav
{
	color: #327972;
	font-weight: bold;
}

#overview
{
	font-size: 1.2em;
}

#common
{
	width: 42em;
}

#common-td
{
	border: 1px solid black;
}

#info
{
	border: 1px solid black;
	text-align: justify;
}

#relou
{
	font-style: italic;
	font-weight: bold;
}